*{
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.3),  #323334 ), url(Images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    color:	#FFD700;
    padding: 60px 0px 0px 120px;
    font-size: 250%;
    font-family: 'Great Vibes', cursive
}
.banner-text h1{
    color: white;
    margin: 240px 0px 0px 120px;
    font-size: 500%;
}
.banner-text pre{
    color: white;
    margin: -10px 0px 0px 120px;
    font-size: 280%;
}
.banner-btn a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.banner-btn {
    margin: 10px 120px;
    width: 120px;
    text-align: center;
    padding: 15px 40px;
    border: #FFD700 solid;
    border-width: 1px;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    overflow: hidden;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    background-color: #FFD700;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #323334;
    

}
.banner-line-1{
    width: 90px;
    height: 5px;
    background-color: white;
    margin: 200px 0px 0px 120px;
    display: inline-block;
}
.banner-line-2{
    width: 90px;
    height: 5px;
    background-color: #FFD700;
    margin: 200px 0px 0px 0px;
    display: inline-block;
}
/* .banner-line-1:hover{
    background-color: #FFD700;
}
.banner-line-2:hover{
    background-color: white;
} */
#sideNav{
    width: 250px;
    height: 100vh;
    background-color: #323334;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transition: 0.5s;
}
nav ul{
    margin-top: 150px;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #FFD700;
    font-family: 'Poppins', sans-serif;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background-color: #FFD700;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 40px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 25px;
    margin-top: 12px;
}
@media screen and (max-width:770px){
    .logo{
        padding: 50px 0px 0px 50px;
        font-size: 250%;
    }
    .banner-text h1{
        font-size: 350%;
        margin: 350px 0px 0px 50px;
    }
    .banner-text pre{
        font-size: 200%;
        margin: -10px 0px 0px 50px;
    }
    .banner-btn {
        margin: 0px 50px;
        width: 120px;
        padding: 15px 30px;
    }
    .banner-line-1{
        margin: 20px 0px 0px 50px;
    } 
    .banner-line-2{
        margin: 20px 0px 0px 0px;
    }    
}

/* features */

#feature{
    width: 100%;
    /* height: auto; */
    padding: 70px 0px;
    background-color: #323334;
    font-family: 'Poppins', sans-serif;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
    
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #FFD700;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#FFD700 ,#323334);
    position: absolute;
    top: -20px;
    left: 0px;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: -1;
}
.title-text h1{
    font-size: 50px;
    color: white;
}
.features-box{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: auto;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
    
}
.features-img img{
    width: 50%;
    border-radius: 10px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #FFD700;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-icon .fas{
    /* width: 50px;
    height: 50px; */
    font-size: 30px;
    padding: 10px 10px;
    border: 1px solid #FFD700;
    border-radius: 8px;
    color: #FFD700;
}
.features-text p{
    padding: 0 20px;
    text-align: initial;
    color: white;
}
@media screen and (max-width: 770px) {
    .title-text h1{
        font-size: 35px; 
    } 
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;  
    }   
}
#services{
    width: 100%;
    /* height: auto; */
    padding: 70px 0px;
}
.services-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-services{
    flex-basis: 48%;
    margin: auto; 
    text-align: center;
    margin-bottom: 20px; 
    border-radius: 7px;
    position: relative;
}
.services-box img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #FFD700 );
    opacity: 0; 
    
}
.single-services:hover .overlay{
    opacity: 1;
}
.services-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 10%;
    opacity: 0;
    /* transform: translateX(-50%); */
    transition: 1s; 
}
hr{
    width: 60%;
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
}
.single-services:hover .services-desc{
    opacity: 1;
    bottom: 40%;
}
@media screen and (max-width: 770px) {
    .single-services{
        flex-basis: 100%;
    }
    .single-services:hover .services-desc{
        bottom: 25%;
    }
}
#testimonials{
    width: 100%;
    /* height: auto; */
    padding: 70px 0px; 
}
.testimonial-row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    

}
.testimonial-col{
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #ffffff14;
    cursor: pointer;  
    transition: .5s;
}
.testimonial-col p{
    font-size: 14px;
    color: white;
    text-align: justify;

}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fab{
    margin-left: 10px;
    font-size: 20px;
    color: #27c0ff;
}
.user-info small{
    color: #27c0ff;
}
.user-info h4{
    color: white;
}
.testimonial-col:hover{
    transform: translateY(-7px);

}
@media screen and (max-width: 770px){
    .testimonial-col{
        flex-basis: 100%;
    }
}
#footer{
    width: 100%;
    /* height: auto; */
    padding-top: 70px; 
    position: relative;
    color: white;
}
.footer-row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.footer-left .footer-right{
    flex-basis: 50%;
    padding: 10px;
    margin-bottom: 20px;
    
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .far{
    font-size: 20px;
    color: #FFD700;
    margin-right: 10px;
}
.footer-right .fas{
    font-size: 20px;
    color: #FFD700;
    margin-left: 10px;
}

.footer-img{
    max-width: 170px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
.social-links{
    text-align: center;
    
    
}
.social-links .fab{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #FFD700;
    margin: 60px 5px 0px;
    cursor: pointer;
    color: #FFD700;
    transition: .5s;
}
.social-links .fab:hover{
    background-color: #FFD700;
    color: white;
    transform: translateY(-7px);
}
.social-links p{
    margin-top: 10px;
}
@media screen and (max-width: 770px){
    .footer-left .footer-right{
        flex-basis: 100%;
        font-size: 14px; 
    }
    .footer-img{
        top: 15%;
    }
}